services:
  backend:
    build: ./backend
    container_name: backend01
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "5001:5001"

  frontend:
    build: ./frontend
    container_name: frontend01
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend
